@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap');

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

body{
  font-family: 'Kalam', cursive !important;
  font-weight: bold !important;
  background: linear-gradient(to right,#69779B, #B1BED5, #F3F8FF,#F4F3F3 );
}

.list-number{
  background-color: rgba(198, 198, 252, 0.541) !important;
}

.book-name{
  background-color: rgba(171, 240, 205, 0.541) !important;
  text-shadow: 0 0 2px #f5f97a, 0 0 2px #b0fb61;
}
.author-name{
  background-color: rgba(171, 233, 240, 0.541) !important;
  text-shadow: 0 0 2px #f5f97a, 0 0 2px #b0fb61;
}

